<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Autorizando...</p>
            </Authorizing>
            <NotAuthorized>
                <p role="alert">Lo siento, no tienes acceso a esta pagina.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo siento, direccion no encontrada.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
